#
# Virtual-Bus (VBus) configuration
#

config VBUS
       bool "Virtual-Bus Containers"
       select CONFIGFS_FS
       select SHM_SIGNAL
       default n
       help
        Provides a mechansism for declaring virtual resource containers
	and virtual-devices within those containers.  These devices may
	then be accessed by any context that cohabitates the same
	container, providing direct host-kernel access in a controlled
	manner.

	If you plan on using this kernel as a VBUS backend, say Y.  If
	unsure, say N

menuconfig VBUS_CONNECTORS
       bool "Virtual-Bus Connectors"
       depends on VBUS
       default n
       help
        Connectors bridge a vbus container to an environment, such
	as a hypervisor or userspace.

	If you plan on using this kernel as a VBUS backend, say Y.  If
	unsure, say N

source "kernel/vbus/connectors/Kconfig"
