#
# Virtual-Bus (VBus) configuration
#

menuconfig VBUS
       bool "Virtual-Bus Containers"
       select CONFIGFS_FS
       select SHM_SIGNAL
       default n
       help
        Provides a mechansism for declaring virtual resource containers
	and virtual-devices within those containers.  These devices may
	then be accessed by any context that cohabitates the same
	container, providing direct host-kernel access in a controlled
	manner.

	If you plan on using this kernel as a VBUS backend, say Y.  If
	unsure, say N
