
config VBUS_LOCALHOST
       tristate "Virtual-Bus localhost connector"
       depends on VBUS_CONNECTORS
       default n
       help
         Provides a example connector that bridges vbus devices to
	 the same local kernel.

	 If unsure, say N

config VBUS_KVM
       tristate "Virtual-Bus connector for KVM"
       depends on VBUS
       depends on KVM
       default y
       help
         Provides a connector for allowing KVM guests to access
	 virtual-bus objects.

	 If unsure, say N

