
config VBUS_NULL
       tristate "Virtual-Bus NULL connector"
       depends on VBUS_CONNECTORS
       default n
       help
         Provides a example connector

	 If unsure, say N

config VBUS_KVM
       tristate "Virtual-Bus connector for KVM"
       depends on VBUS
       depends on KVM
       default y
       help
         Provides a connector for allowing KVM guests to access
	 virtual-bus objects.

	 If unsure, say N

